/* .sidebar-container {
    width: 30%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    
  }
  
  @media screen and (max-width: 768px) {
    .sidebar-container {
      width: 100%;
    }
  } */
    