.vertical-line {
    border-left: 1px solid #dcdcdc;
    height: 621vh;
    position: absolute;
    left: 70%;
    top: 0;
}

.hr {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
    border: none;
    height: 1px;
    bottom: 0;
    background-color: #dcdcdc;
}